정의】 (비임신자면서 8시간이상 공복자 중)  
③당뇨병: 공복혈당이 126mg/dL 이상이거나 의사진단을 받았거나 혈당강하제  
복용 또는 인슐린 주사를 사용하거나, 당화혈색소 6.5% 이상인 사람  
②당뇨병 전단계: ③이 아니고, 공복혈당이 100-125mg/dL 또는 당화혈색소가 5.7% 이상 6.4% 이하인 사람  
①정상: ②,③이 아니고, 공복혈당이 100mg/dL 미만 또는 당화혈색소가 5.7% 미만인사람  
 ※ 2018년부터 임산부 제외하고 분석

DE1_dg 당뇨병 의사진단 여부 ( 0 없음 , 1 있음 , 8 비해당, 9 모름)
DE1_pt 당뇨병 치료 (0 없음 , 1 있음, 8 비해당, 9 모름)
DE1_3 당뇨병혈당관리치료여부
DE1_31 인슐린주사
DE1_32 당뇨병약
DE1_33 비약물요법
DE1_34 기타
 N_PRG 임신 및 수유 여부 (1 임신중, 2 수유중, 8 비해당) 임신중이거나 수유중인 데이터는 제외할 것
나이 20세 이상으로만 할 것, 임산부 제외
HE_HbA1c -> 당화혈색소
공복혈당 => HE_glu, 의사진단 => DE1_dg , 혈당관리치료여부  => DE1_3, 인슐린 주사 => DE1_31, 
당화혈색소 => HE_HbA1c, 임신여부 => HE_prg

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
df = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2009년 건강검진조사.csv')

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_93951/1206950420.py:1: DtypeWarning: Columns (86,115,188,241,376,382,503,646,672,703,707,768,815,827,1009,1018,1027,1029,1030,1036,1183) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2009년 건강검진조사.csv')

In [68]:
df_copy = df.copy()

In [69]:
# 20세 이상이면서 임산부가 아닌 데이터
df_na = df[(df.age >= 20) & (df.HE_prg != 1)]

In [70]:
df_na

,Unnamed: 0,mod_d,id,year,region,town_t,apt_t,psu,sex,age,...,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,1,2022.03.08,A408359801,2009,1,1,1,A408,2,48,...,999.0,999.0,999.0,999.0,999.0,999.0,6.0,1.0,8.0,23.0
1,2,2022.03.08,A408359802,2009,1,1,1,A408,2,49,...,888.0,888.0,888.0,888.0,888.0,888.0,888.0,1.0,13.0,19.0
2,3,2022.03.08,A408359803,2009,1,1,1,A408,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2022.03.08,A408399801,2009,1,1,1,A408,1,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2022.03.08,A408399802,2009,1,1,1,A408,2,51,...,999.0,999.0,999.0,999.0,999.0,999.0,3.0,1.0,2.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10523,10524,2022.03.08,P411940902,2009,16,2,1,P411,2,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10527,10528,2022.03.08,P411980901,2009,16,2,1,P411,1,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10528,10529,2022.03.08,P411980902,2009,16,2,1,P411,2,33,...,888.0,888.0,888.0,888.0,888.0,888.0,888.0,1.0,5.0,27.0
10531,10532,2022.03.08,P411980906,2009,16,2,1,P411,1,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,10533,2022.03.08,P411980907,2009,16,2,1,P411,2,57,...,888.0,888.0,888.0,888.0,888.0,888.0,888.0,1.0,3.0,28.0

In [71]:
df_na = df_na[(df_na.HE_glu >= 126) | (df_na.DE1_dg == 1) | (df_na.DE1_3 == 1) | (df_na.DE1_31 == 1) | (df_na.HE_HbA1c >= 6.5) | (df_na.DE1_32 == 1) | (df_na.DE1_33 == 1) | (df_na.DE1_34 == 1)]

In [72]:
df_na

,Unnamed: 0,mod_d,id,year,region,town_t,apt_t,psu,sex,age,...,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
23,24,2022.03.08,A408560901,2009,1,1,1,A408,1,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,31,2022.03.08,A408580901,2009,1,1,1,A408,1,57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,47,2022.03.08,A408859801,2009,1,1,1,A408,1,59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,60,2022.03.08,A409420901,2009,1,1,1,A409,1,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,85,2022.03.08,A409739801,2009,1,1,1,A409,1,68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10461,10462,2022.03.08,P411440701,2009,16,2,1,P411,1,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10481,10482,2022.03.08,P411580701,2009,16,2,1,P411,1,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10487,10488,2022.03.08,P411619604,2009,16,2,1,P411,2,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10489,10490,2022.03.08,P411719801,2009,16,2,1,P411,1,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10516,10517,2022.03.08,P411879601,2009,16,2,1,P411,1,78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_copy['HE_DM_HbA1c'] = 1

In [74]:
df_copy.iloc[df_na.index,-1] = 3

In [75]:
df_copy

,Unnamed: 0,mod_d,id,year,region,town_t,apt_t,psu,sex,age,...,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG,HE_DM_HbA1c
0,1,2022.03.08,A408359801,2009,1,1,1,A408,2,48,...,999.0,999.0,999.0,999.0,999.0,6.0,1.0,8.0,23.0,1
1,2,2022.03.08,A408359802,2009,1,1,1,A408,2,49,...,888.0,888.0,888.0,888.0,888.0,888.0,1.0,13.0,19.0,1
2,3,2022.03.08,A408359803,2009,1,1,1,A408,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,4,2022.03.08,A408399801,2009,1,1,1,A408,1,55,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,5,2022.03.08,A408399802,2009,1,1,1,A408,2,51,...,999.0,999.0,999.0,999.0,999.0,3.0,1.0,2.0,23.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,10529,2022.03.08,P411980902,2009,16,2,1,P411,2,33,...,888.0,888.0,888.0,888.0,888.0,888.0,1.0,5.0,27.0,1
10529,10530,2022.03.08,P411980903,2009,16,2,1,P411,2,6,...,888.0,888.0,888.0,888.0,888.0,888.0,8.0,888.0,888.0,1
10530,10531,2022.03.08,P411980904,2009,16,2,1,P411,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10531,10532,2022.03.08,P411980906,2009,16,2,1,P411,1,65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
10532,10533,2022.03.08,P411980907,2009,16,2,1,P411,2,57,...,888.0,888.0,888.0,888.0,888.0,888.0,1.0,3.0,28.0,1

In [82]:
df_2 = df_copy[~df_copy.index.isin(df_na.index)]
df_2 = df_2[(df_2['HE_glu'] >= 100) & (df_2['HE_glu'] <= 125) | (df_2['HE_HbA1c'] >= 5.7) & (df_2['HE_HbA1c'] <= 6.4)]

In [84]:
df_copy.iloc[df_2.index,-1] = 2

In [86]:
df_copy.HE_DM_HbA1c.value_counts()

1    8406
2    1374
3     753
Name: HE_DM_HbA1c, dtype: int64

In [90]:
df_drop = df_copy.drop(columns=['Unnamed: 0'])

In [91]:
df_drop.to_csv('2009_HE_DB.csv',index=False,encoding='cp949')