In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
df1 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2008_HE_DB.csv')
df2 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2009_HE_DB.csv',encoding='cp949')
df3 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2010_HE_DB.csv',encoding='cp949')
df4 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2015_HE_DB.csv',encoding='cp949')
df5 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2019년 건강검진조사.csv')
df6 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2020년 건강검진조사.csv',encoding='cp949')
df7 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2021년 건강검진조사.csv',encoding='cp949')

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/3669310707.py:1: DtypeWarning: Columns (85,114,239,374,380,490,501,570,578,584,598,622,644,670,701,705,756,766,813,825,977,986,988,989,997,998,1113,1151) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2008_HE_DB.csv')
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/3669310707.py:2: DtypeWarning: Columns (85,114,187,240,375,381,502,645,671,702,706,767,814,826,1008,1017,1026,1028,1029,1035,1182) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2009_HE_DB.csv',encoding='cp949')
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/3669310707.py:3: DtypeWarning: Columns (123,197,203,209,272,289,347,368,428,458,656,685) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/당뇨 추가/2010_HE_DB.csv',encoding='cp949')
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/3669310707.py:5: DtypeWarning: Columns (140,208,317,376,496,506,518,665) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2019년 건강검진조사.csv')
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/3669310707.py:6: DtypeWarning: Columns (140,208,317,376,496,506,518,665) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2020년 건강검진조사.csv',encoding='cp949')
/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/3669310707.py:7: DtypeWarning: Columns (140,260,285,311,380,513,662,673) have mixed types. Specify dtype option on import or set low_memory=False.
  df7 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/raw_data/2021년 건강검진조사.csv',encoding='cp949')

In [26]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df6.shape)
print(df7.shape)

(9744, 1163)
(10533, 1197)
(6241, 819)
(5086, 13)
(7359, 843)
(7359, 843)
(7090, 840)

In [31]:
df1['HE_LDL_drct']=0
df1 = df1[df4.columns]
df2 = df2[df4.columns]
df3 = df3[df4.columns]
df5 = df5[df4.columns]
df6 = df6[df4.columns]
df7 = df7[df4.columns]

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/2030196750.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['HE_LDL_drct']=0

In [33]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df6.shape)
print(df7.shape)

(9744, 13)
(10533, 13)
(6241, 13)
(5086, 13)
(7359, 13)
(7359, 13)
(7090, 13)

In [35]:
df_all = pd.concat([df1,df2,df3,df4,df5,df6,df7])

In [36]:
df_all.to_csv('all_data.csv',encoding='cp949',index=False)

In [38]:
df_all.isnull().sum()

age                0
sex                0
HE_LDL_drct    32248
HE_HDL_st2      7809
HE_insulin      7814
HE_glu          7877
HE_HbA1c       27761
HE_BMI          2282
HE_wt           2019
HE_wc           2965
HE_chol         7809
HE_TG           7809
HE_DM_HbA1c     5631
dtype: int64

In [40]:
df_noHDL = df_all[df_all.HE_HDL_st2.notnull()]

In [41]:
df_noHDL.isnull().sum()

age                0
sex                0
HE_LDL_drct    26513
HE_HDL_st2         0
HE_insulin         5
HE_glu            70
HE_HbA1c       19952
HE_BMI           366
HE_wt            157
HE_wc            250
HE_chol            0
HE_TG              0
HE_DM_HbA1c     2167
dtype: int64

In [49]:
df_noHDL.shape

(45603, 13)

In [42]:
df_noHDL.to_csv('all_data_dropHDL.csv',encoding='cp949',index=False)

In [43]:
df_2007 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/2007_HE_DB.csv')

/var/folders/qr/778czgkd1p7ch8wn4f6dmdkh0000gn/T/ipykernel_99928/979411181.py:1: DtypeWarning: Columns (73,227,362,368,489,689,754,922,935,945) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2007 = pd.read_csv('/Users/seoihwan/Desktop/escuela/과기대/nyamnaym-jjeobjjeob/data/2007_HE_DB.csv')

In [44]:
df_2007.shape

(1730, 1105)

In [46]:
df_2007['HE_LDL_drct'] = 0

In [50]:
df8 = df_2007[df4.columns]
all_data = pd.concat([df8,df_noHDL])

In [56]:
all_data.to_csv('all_data_dropHDL.csv',encoding='cp949',index=False)

In [52]:
all_data

,age,sex,HE_LDL_drct,HE_HDL_st2,HE_insulin,HE_glu,HE_HbA1c,HE_BMI,HE_wt,HE_wc,HE_chol,HE_TG,HE_DM_HbA1c
0,50,2,0.0,58.268,4.9,83.0,NaN,20.852773,51.4,75.8,203.0,66.0,1.0
1,21,2,0.0,45.188,10.6,84.0,NaN,19.265440,50.0,58.0,175.0,107.0,1.0
2,35,2,0.0,31.236,11.9,97.0,NaN,27.253123,73.3,89.3,184.0,150.0,1.0
3,76,2,0.0,31.236,10.3,85.0,NaN,23.773032,56.6,83.0,128.0,121.0,1.0
4,80,2,0.0,33.852,14.1,90.0,5.8,26.748114,57.8,89.7,229.0,173.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7082,44,2,NaN,35.000,9.0,99.0,6.0,24.000000,60.0,76.0,184.0,168.0,1.0
7084,54,2,NaN,33.000,5.0,86.0,6.0,23.000000,55.0,81.0,199.0,79.0,2.0
7085,25,1,NaN,63.000,6.0,81.0,5.0,28.000000,87.0,91.0,214.0,48.0,1.0
7086,45,1,152.0,37.000,21.0,115.0,6.0,34.000000,105.0,111.0,229.0,299.0,2.0
7087,43,2,NaN,56.000,3.0,78.0,5.0,20.000000,55.0,72.0,163.0,47.0,1.0

In [55]:
all_data=all_data[all_data.HE_HDL_st2.notnull()]

In [60]:
all_data[all_data.HE_LDL_drct==0]

,age,sex,HE_LDL_drct,HE_HDL_st2,HE_insulin,HE_glu,HE_HbA1c,HE_BMI,HE_wt,HE_wc,HE_chol,HE_TG,HE_DM_HbA1c
0,50,2,0.0,58.268,4.90,83.0,NaN,20.852773,51.4,75.8,203.0,66.0,1.0
1,21,2,0.0,45.188,10.60,84.0,NaN,19.265440,50.0,58.0,175.0,107.0,1.0
2,35,2,0.0,31.236,11.90,97.0,NaN,27.253123,73.3,89.3,184.0,150.0,1.0
3,76,2,0.0,31.236,10.30,85.0,NaN,23.773032,56.6,83.0,128.0,121.0,1.0
4,80,2,0.0,33.852,14.10,90.0,5.8,26.748114,57.8,89.7,229.0,173.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,18,2,0.0,39.084,10.71,86.0,NaN,24.603893,68.7,79.9,134.0,71.0,1.0
9735,35,1,0.0,55.652,8.64,105.0,NaN,31.003460,89.6,100.3,192.0,70.0,2.0
9736,32,2,0.0,53.908,15.80,100.0,NaN,21.622461,55.7,75.6,166.0,41.0,2.0
9740,67,1,0.0,53.908,6.26,119.0,6.2,21.878844,55.8,79.8,178.0,75.0,3.0
9741,62,2,0.0,61.756,6.44,141.0,7.8,24.519191,53.2,85.8,218.0,115.0,3.0

In [61]:
all_data[all_data.HE_TG>=400]

,age,sex,HE_LDL_drct,HE_HDL_st2,HE_insulin,HE_glu,HE_HbA1c,HE_BMI,HE_wt,HE_wc,HE_chol,HE_TG,HE_DM_HbA1c
410,67,2,0.0,28.620,22.2,180.0,9.0,27.908531,71.0,94.0,314.0,494.0,3.0
490,58,2,0.0,26.876,9.8,84.0,NaN,23.091124,56.7,86.7,180.0,474.0,1.0
497,67,2,0.0,47.804,6.6,90.0,NaN,27.564006,54.8,98.5,408.0,506.0,1.0
516,65,2,0.0,32.108,12.6,81.0,NaN,23.365286,57.3,84.0,203.0,482.0,1.0
524,53,2,0.0,25.132,13.3,86.0,NaN,25.385346,64.5,82.0,236.0,433.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6724,49,2,91.0,31.000,11.0,101.0,6.0,25.000000,62.0,84.0,255.0,925.0,2.0
6771,51,1,114.0,35.000,8.0,158.0,8.0,25.000000,69.0,90.0,297.0,1216.0,3.0
6856,40,1,147.0,36.000,30.0,119.0,7.0,32.000000,90.0,103.0,242.0,542.0,3.0
6880,41,2,108.0,46.000,12.0,109.0,5.0,25.000000,64.0,83.0,288.0,855.0,2.0
7060,47,1,60.0,27.000,29.0,100.0,6.0,29.000000,91.0,101.0,166.0,521.0,2.0